{% extends 'base.html' %}

{% block title %}
    <title>
        PTSP - {{ user_profile.user.username }}
    </title>
{% endblock title %}

{% block content %}
    <img style='text-align:center' src="/media/{{ user_profile.user_photo }}" alt="profile-picture">
    <div id="user_information">
        {% if user_profile.user_email %}
            Email: {{ user_profile.user_email }}
        {% endif %}
        {% if user_profile.user_bio %}
            User Bio:
            <p>
                {{ user_profile.user_bio }}
            </p>
        {% endif %}
        {% if user_posts %}
            {% for post in user_posts %}
                <ul>
                    <li>
                        {% if post.picture %}
                            <img src="/media/{{ post.picture }}" alt="post-picture"/>
                        {% endif %}
                        <h2>
                            {{ post }}
                        </h2>
                        <span>
                            {{ post.date_of_entry | date:'M d, Y' }}
                        </span>
                        <a href="{% url 'pts_pops_app:edit_post' post.id %}">Edit Post</a>
                    </li>
                </ul>
            {% endfor %}

        {% endif %}
        <a href="{% url 'users:edit_user_profile' user_profile.user.id %}">
            Edit Profile
        </a>
    </div>
{% endblock %}