{% extends 'base.html' %}
{% load bootstrap5 %}

{% block title %}
    <title>PTSP - Community </title>
{% endblock %}

{% block content %}
<div class="container-fluid d-flex row">
    {% if user.is_authenticated %}
        <div class="card text-center mx-auto" style="max-width: 40rem; margin-top: 15px; margin-bottom:15px;">
          <div class="card-body">
            <h5 class="card-title">What would you like to share?</h5>
            <p class="card-text">Thank you for signing up and logging in {{ user.username | title }}!!! This
            share method is ONLY exclusive for users who signed up :)</p>
              <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Start Sharing
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">What would you like to share today?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form action="{% url 'pts_pops_app:community_page' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            {% buttons %}
                                <div class='col-md-12 text-center' style="margin-top: 15px;">
                                    <button name="submit">
                                        Share
                                    </button>
                                </div>
                            {% endbuttons %}
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
        </div>
    {% else %}
    <div id="user-posting">
        <div class="card mx-auto" style="max-width:68rem; margin-top:15px; margin-bottom:15px;">
              <div class="card-header">
                Hello there! You are posting as an Anonymous User! Please consider signing in or registering.
              </div>
          <div class="card-body">
            <form action="{% url 'pts_pops_app:community_page' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <div class='col-md-12 text-center' style="margin-top: 15px;">
                        <button name="submit"
                        class="mx-auto">
                            Share
                        </button>
                    </div>
                {% endbuttons %}
        </form>
          </div>
        </div>
    </div>
    {% endif %}
    <div>
        {% for post in  all_posts %}
            {% if post.picture %}
                <div class="card mb-3 mx-auto" style="max-width: 760px; margin-top:15px;">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="{{ AWS_BUCKET_BASEURL }}/{{ post.picture }}" alt="post-photo"
                        style="width:220px;height:200px">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        {% if post.owner_profile %}
                        <img class="card-title" src='{{ AWS_BUCKET_BASEURL }}/{{ post.owner_profile.user_photo }}'
                            style="width:50px; height:50px"/>
                        {% else %}
                        <img class="card-title" src='{{ AWS_BUCKET_BASEURL }}/default_profile_pic.jpg'
                        style="width:50px; height:50px"/>
                        {% endif %}
                        <p class="card-text">
                            {{ post.comments | truncatechars:450 | linebreaksbr }}
                            {% if post.comments|length > 300 %}
                                <a href="{% url 'pts_pops_app:view_full_post' post.id %}">See More</a>
                            {% endif %}
                        </p>
                      {% if post.owner_profile %}
                        <p class="card-text">
                            <small class="text-muted" >
                                Written By: <a href="{% url 'users:user_profile' post.owner.id %}">{{ post.owner.username }}
                            </a> on {{ post.date_of_entry | date:'M d, Y'}}
                                  {% if post.comments|length <= 300 %}
                                      <a href="{% url 'pts_pops_app:view_full_post' post.id %}"
                                         class="btn btn-primary btn-sm offset-md-3"
                                         >
                                          View Larger Post
                                      </a>
                                  {% endif %}
                            </small>
                        </p>
                      {% else %}
                          <p class="card-text">
                            <small class="text-muted" >
                                Written By: Anonymous on {{ post.date_of_entry | date:'M d, Y'}}
                                  {% if post.comments|length <= 300 %}
                                      <a href="{% url 'pts_pops_app:view_full_post' post.id %}"
                                         class="btn btn-primary btn-sm offset-md-3"
                                         >
                                          View Larger Post
                                      </a>
                                  {% endif %}
                            </small>
                        </p>
                      {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
            {% else %}
                <div class="card text-center mx-auto" style="max-width: 760px; margin-bottom:15px;">
                 {% if post.owner_profile %}
                      <div class="card-header">
                        <img class="card-title" src='{{ AWS_BUCKET_BASEURL }}/{{ post.owner_profile.user_photo }}'
                                style="width:50px; height:50px" alt="profile-picture"/>
                      </div>
                 {% else %}
                     <div class="card-header">
                        <img class="card-title" src='{{ AWS_BUCKET_BASEURL }}/default_profile_pic.jpg'
                                style="width:50px; height:50px" alt="profile-picture"/>
                      </div>
                 {% endif %}
                  <div class="card-body">
                    <p class="card-text">
                        {{ post.comments | truncatechars:450| linebreaksbr }}
                            {% if post.comments|length > 300 %}
                                <a href="{% url 'pts_pops_app:view_full_post' post.id %}">See More</a>
                            {% endif %}
                    </p>
                  </div>
                 {% if post.owner_profile %}
                  <div class="card-footer text-muted" style="text-align:center">
                      Written By: <a href="{% url 'users:user_profile' post.owner.id %}">{{ post.owner.username }}</a>
                      on {{ post.date_of_entry | date:'M d, Y'}}
                      {% if post.comments|length <= 300 %}
                          <a href="{% url 'pts_pops_app:view_full_post' post.id %}"
                             class="btn btn-primary col-md-3 offset-md-3"
                             >
                              View Larger Post
                          </a>
                      {% endif %}
                  </div>
                 {% else %}
                      <div class="card-footer text-muted">
                      Written By Anonymous on {{ post.date_of_entry | date:'M d, Y'}}
                      {% if post.comments|length <= 300 %}
                          <a href="{% url 'pts_pops_app:view_full_post' post.id %}"
                             class="btn btn-primary col-md-3 offset-md-3"
                             >
                              View Larger Post
                          </a>
                      {% endif %}
                      </div>
                 {% endif %}
                </div>
            {% endif %}
        {% endfor  %}
    </div>
    <div>
         <nav aria-label="Page navigation example">
              <ul class="pagination ">
                  {% if all_posts.has_previous %}
                    <li class="page-item mx-auto"><a
                            href="{% url 'pts_pops_app:community_page' %}?page={{ all_posts.previous_page_number }}"
                            class="btn btn-primary mr-auto"
                            >
                                Previous Page
                    </a></li>
                  {% endif %}
                  {% if all_posts.has_next %}
                      <li class="page-item mx-auto"><a
                              href="{% url 'pts_pops_app:community_page' %}?page={{ all_posts.next_page_number }}"
                              class="btn btn-primary"
                              >
                                Next Page
                    </a></li>
                  {% endif %}
              </ul>
            </nav>
    </div>
</div>
{% endblock %}