{% extends 'base.html' %}

{% block title %}
    <title>PTSP - Community </title>
{% endblock %}

{% block content %}
    <h1 style="text-align:center">Welcome to the Community page!</h1>
    <div id="write-about">

    </div>
    <div id="posts">
        <ul style="list-style-type: none;">
            {% for post in  all_posts %}
                <li>
                   <img src="/media/{{ post.owner_profile.user_photo }}" alt="profile-picture">
                   <h2>
                       {{ post }}
                   </h2>
                  <span>
                      {{ post.date_of_entry | date:'M d, Y' }}
                  </span>
                </li>
                <hr>
            {% endfor  %}
        </ul>
    </div>

{% endblock %}