{% extends 'base.html' %}

{% block title %}
    <title>PTSP - Community </title>
{% endblock %}

{% block content %}
    <h1 style="text-align:center">Welcome to the Community page!</h1>
    <div id="write-about">

    </div>
    <div id="posts">
        <ul>
            {% for post in  all_posts %}
                <li>
                   <p>
                       {{ post }}
                   </p>
                  <span>
                      {{ post.date_of_entry }}
                  </span>
                </li>
            {% endfor  %}
        </ul>
    </div>

{% endblock %}