{% extends 'base.html' %}
{% load bootstrap5 %}
{% block title %} <title>PTSP - Post</title> {% endblock %}

{% block content %}
    <div class="card text-dark bg-light mb-3 mx-auto" style="max-width: 40rem; margin-top:15px;">
          <div class="card-header" style="text-align:center">Share Your Thoughts</div>
          <div class="card-body">
            <form action="{% url 'pts_pops_app:community_post' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <div style="margin-top: 15px;">
                            <button name="submit"
                                    class="col-md-12 text-center"
                            >
                                Submit
                            </button>
                        </div>
                    {% endbuttons %}
            </form>
          </div>
    </div>

{% endblock %}