{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block title %}
    <title>
        PTSP - Register
    </title>
{% endblock %}

{% block content %}
    <div class="card text-dark bg-info mb-3 mx-auto" style="max-width: 30rem; margin-top:15px;">
      <div class="card-header mx-auto">
          <img src="{% static 'img/pts1.png' %}" class='rounded-3 rounded img-thumbnail' alt="pts-logo"
          style="width:75px; height:75px;"> PTS POPCORN!
      </div>
      <div class="card-body">
        <h5 class="card-title" style="text-align:center">Register</h5>
        <form method="post" action="{% url 'users:register' %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <div style="margin-top: 15px;">
                    <button name="submit"
                    style="margin-left:190px">
                        Register
                    </button>
                </div>
            {% endbuttons %}
        </form>
      </div>
    </div>

{% endblock %}